<%= form_for(@study, :html => {:class => 'form-horizontal'}) do |f| %>
  <% if @study.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <ul>
      <% @study.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :query, 'Search Terms', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :query %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :csv, 'Test Ads (.csv)', :class => 'control-label' %>

    <div class="controls">
        <span class="fileupload fileupload-new" data-provides="fileupload">
          <div class="input-append">
            <div class="uneditable-input">
              <i class="icon-file fileupload-exists"></i>
              <span class="fileupload-preview"></span>
            </div>
            <span class="btn btn-file">
              <span class="fileupload-new">Select file</span>
              <span class="fileupload-exists">Change</span>
              <%= f.file_field :ad_file %>
             </span>
             <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
          </div>
        </span>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit(:class => 'btn btn-primary') %>
    </div>
  </div>

<% end %>
