<div class="studies">
  <div class="row-fluid">
    <div class="span8">
      <h3>
        Studies
      </h3>
    </div>
    <div class="span4 mini-dashboard">
      <table width="100px"  class="table stats-table">
        <tbody>
        <tr>
          <td colspan="2" class="stats">Account Info</td>
        </tr>
        <tr>
          <td>
            <b>Mechanical Turk Balance</b>
          </td>
          <td>
            <%= "#{number_to_currency(RTurk.GetAccountBalance.amount)}" %>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <table width="100%" class="table table-striped">
    <thead>
        <tr>
          <th>Name</th>
          <th>Query</th>
          <th>Actions</th>
          <th width="*" align="center" class="new_study">
            <%= link_to 'New Study', new_study_path, :class => 'btn btn-success' %>
          </th>
        </tr>
    </thead>

    <tbody>
    <% @studies.each do |study| %>
        <tr>
          <td><%= link_to study.name, study %></td>
          <td><%= link_to study.query, study %></td>
          <td><%= link_to 'Delete', study, method: :delete, data: {confirm: 'Are you sure?'} %></td>
          <td>&nbsp;</td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>