<p id="notice">
  <%= notice %>
</p>

<h1>
  <b>Name:</b>
  <%= @study.name %>
</h1>

<h2 class="muted">
  <b>Query:</b>
  <%= @study.query %>
</h2>

<table width="100%" class="table table-striped">
  <thead>
      <tr>
        <th>Ad Headline</th>
        <th>Ad Clicks</th>
        <th>Total Clicks</th>
        <th>&nbsp;</th>
      </tr>
  </thead>

  <tbody>
  <% @study.user_ads.each do |ad| %>
      <tr>
        <td><%= link_to ad.headline, ad %></td>
        <td><%= ad.votes.count %></td>
        <td><%= ad.study.votes.count %></td>
        <td>
          <span>
            <%= ad.status %>
          </span>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Studies', studies_path %>
